body {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}

header {
    display: flex;
    align-items: center;
  }

#logo {
    height: 100px;
    width: 100px;
}

.title {
    margin-left: 20px;
}

#navbar {
    overflow: hidden;
    margin: 10px 0;
}

#navbar a {
    float: left;
    display: block;
}

button {
    font-family:'Courier New', Courier, monospace;
    color:lemonchiffon;
    background-color:indigo;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 0.4s;
}

button.contact {
    color:midnightblue;
    background-color:aquamarine;
}

button:hover {
    background-color:deeppink;
}

.contact:hover {
    background-color:darkcyan;
}

.welcome {
    display: flex;
}

.about {
    width: 40%;
}

.me {
    width: 60%;
    max-width:100%;
}

@media screen and (max-width: 800px) {
    .welcome {
        flex-direction: column;
    }

    .about,.me {
        width: 100%;
    }
}

footer {
    width: 100%;
    padding: 20px;
 }

/* gallery */

.container {
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.contgel {
    display:flex;
    flex-wrap: nowrap;
    align-items:flex-start;
    gap: 20px;
}

.contgel button {
 margin-bottom: 10px;
}

.contart {
    position: relative;
}

.art {
    display: block;
    max-height: 500px;
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}  
  
.contart:hover .overlay {
    opacity: 0.8;
}

.contart:hover .middle {
    opacity: 1;
}
  
.text {
    color: lemonchiffon;
    font-size: large;
}