
/* general-------------------------------------- */

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    background-color:snow;
}

.marbot20{
    margin-bottom: 20px;
}

.marbot10{
    margin-bottom: 10px;
}

main {
    margin: 40px 50px;
}

/* header -------------------------------------- */

header {
    display: flex;
    align-items: center;
  }

#logo {
    height: 100px;
    width: 100px;
}

nav {
    margin: 20px;
}

/* buttons -------------------------------------- */

button {
    font-family:'Courier New', Courier, monospace;
    color:lemonchiffon;
    background-color:indigo;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    transition-duration: 0.4s;
}

button.contact {
    color:midnightblue;
    background-color:aquamarine;
}

button:hover {
    background-color:deeppink;
}

.contact:hover {
    background-color:darkcyan;
}


footer {
    margin-bottom: 40px;
 }

/* home -------------------------------------- */

.welcome {
    display: flex;
}

.about {
    width: 100%;
}

.me {
    width: 100%;
    max-width:100%;
    margin-left: 10px;
}

@media screen and (max-width: 800px) {
    .welcome {
        flex-direction: column;
    }

    .about,.me {
        width: 100%;
    }

    .me {
        margin-left: 0px;
    }

    .title {
        margin-bottom: 0px;
    }
}

/* gallery -------------------------------------- */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#cost {
    display: none;
}

.prod {
    height: 300px;
    cursor: pointer;
    position: relative;
}

.prod img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(75, 0, 130, 0.65);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: lightgoldenrodyellow;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}
  
/* hover */
.prod:hover .overlay {
    transform: scale(1);
}

/*.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}  
  
.contart:hover .overlay {
    opacity: 0.8;
}

.contart:hover .middle {
    opacity: 1;
} 
  
.text {
    color: lemonchiffon;
    font-size: large;
} */
/*.container {
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}

.contgel {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 20px;
}

.contgel button {
    margin-bottom: 10px;
}

.contart {
    position: relative;
}

.art {
    max-height: 500px;
    max-width: 100%;
}*/
/*.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery > li {
    height: 300px;
    cursor: pointer;
    position: relative;
}

.gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
} */